/*------------------------------------------------
Global Styles
------------------------------------------------*/
body {
	overflow-x: hidden;
}

.gradient {
	background: linear-gradient(3deg, #fffbf4 76%, rgb(253 216 216) 89%);
    width: 100%;
    height: 100%;
}

.cream-back {
	background: #fffbf4;
}

a {
	text-decoration: none;
}

.wrapper {
	min-width: 375px;
	max-width: 1300px;
	margin: 0 auto;
}

.txt-decor::after {
	position: absolute;
	content: '';
    display: block;
    width: 80px;
    height: 1px;
    border-radius: 3px;
}

.is-flex {
	display: flex;
}

.light-pink-lines{
	border-left: 1px solid rgba(245, 223, 214, 1);
    border-right: 1px solid rgba(245, 223, 214, 1);
}

.dark-pink-lines{
    border-left: 1px solid rgb(253 216 216);
    border-right: 1px solid rgb(253 216 216);
}

hr {
    border: none;
    height: 2px;
    background-color: #333;
    margin: 20px 0;
}

.title {
	margin-top: 100px;
	margin-bottom: 85px;
	text-align: center;
	font-size: 35px;
}

/*------------------------------------------------
Typography
------------------------------------------------*/
.robo-style {
	font-family: "Roboto", sans-serif;
	font-size: 22px;
	font-weight: 400;
}

.noto-sans {
  font-family: "Noto Sans JP", sans-serif;
	font-size: 18px;
	font-weight: 300;
}

/*------------------------------------------------
Header / Global Navigation
------------------------------------------------*/
.header {
    position: sticky;
    top: 0;
    background-color: white;
    height: 0;
    width: 1300px;
    padding: 0;
    margin: 0 auto;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
	position: relative;
	top: 90px;
	left: 75px;
	width: 150px;
}

.logo p {
    padding: 0;
    margin: 0;
    position: relative;
    left: 207px;
    top: 45px;
    color: #414141;
}

.gn {
	position: relative;
	text-align: center;
	top: 90px;
	right: 75px;
	text-transform: uppercase;
	letter-spacing: -.5px;
}

.gn li {
	position: relative;
	padding: 10px 0;
}

.gn a {
	font-weight: 700;
	font-size: 14px;
	color: black;
}

.gn .txt-decor::after {
    background: #3b3b3b;
    left: -7px;
    bottom: 0;
}

.gn a:hover {
	color: #4f6b2c;
}

/* Media query for smaller screens */
@media (max-width: 1300px) {
    .header {
        width: 100%; /* Make header take up the full width of the viewport */
    }
}

#header {
    transition: opacity 0.5s ease-out;
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

/*------------------------------------------------
Introduction
------------------------------------------------*/
.intro h1 {
	text-align: center;
	border-bottom: 2px solid rgba(245,237,231,1);
    border-left: 2px solid rgba(245,237,231,1);
    border-right: 2px solid rgba(245,237,231,1);
    font-size: 80px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #3b3b3b;
    padding: 135px 0 95px 0;
}

.container {
    flex-wrap: wrap;
}

.container li {
    flex: 30%;
    text-align: center;
    padding: 65px 0 110px 0;
    margin-bottom: 20px;
}

.container li:nth-child(3n+1), .container li:nth-child(3n+3) {
    border-left: 2px solid rgba(245,237,231,1);
    border-right: 2px solid rgba(245,237,231,1);
}

.container img {
    display: block;
    margin: 0 auto;
}

.container p {
    font-weight: 400;
    padding: 10px 50px 0 50px;
    letter-spacing: .5px;
}

/*------------------------------------------------
Projects
------------------------------------------------*/
.projects {
	border-left: 1px solid rgba(245, 223, 214, 1);
    border-right: 1px solid rgba(245, 223, 214, 1);
    margin-bottom: 70px;
}

.projects h2 {
    font-size: 30px;
    padding: 55px 0 0 45px;
}

.projects h3 {
	padding-bottom: 13px;
}

.project-item {
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
}
 .project-item + .project-item{
 	padding-top: 50px;
 }

.projects .txt-decor::after{
    width: 280%;
    background: rgb(239 206 192);
    bottom: -25px;
}

.project-item img {
    width: 100%;
    height: auto;
    border-radius: 24px;
    max-width: 500px;
}

.project-hover {
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 90%;
    height: 30%;
    background: rgb(154 178 152 / 97%);
    color: #ededed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    border-radius: 16px;
}

.project-item:hover .project-hover {
    opacity: 1;
}

/*------------------------------------------------
Page of Projects
------------------------------------------------*/
.work-grid {
	display: flex;
    flex-wrap: wrap;
    gap: 35px 20px;
    justify-content: flex-start;
    padding: 20px;
}

.work-item,
.work-item-prog {
    padding: 15px;
    width: calc(50% - 10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s, box-shadow 0.5s;
}

.completed-head {
    padding: 0 50px 35px 50px;
    font-size: 25px;
    color: #5f5c5c;
}

.work-item,
.work-item-prog h3 {
    margin-top: 0;
    color: #444;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    z-index: 2;
}

.work-item,
.work-item-prog p {
    margin-bottom: 5px;
    color: #666;
    text-align: center;
    position: relative;
    z-index: 2;
}

.work-item::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
        0deg,
        transparent,
        transparent 30%,
        rgba(255, 0, 179, 0.3)
    );
    transform: rotate(-45deg);
    transition: all .6s ease;
    opacity: 0;
}

.work-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 0, 179, 0.5);
}

.work-item:hover::before {
    opacity: 1;
    transform: rotate(-45deg) translateY(100%);
}

/* Ensure centering of the last single item if it's in a row alone */
.work-item:nth-child(2n+1):nth-last-child(1),
.work-item-prog:nth-child(2n+1):nth-last-child(1) {
    margin-left: auto;
    margin-right: auto;
}

/*------------------------------------------------
About
------------------------------------------------*/
.about {
	border-left: 1px solid rgba(245, 223, 214, 1);
    border-right: 1px solid rgba(245, 223, 214, 1);
}

.about .robo-style {
    font-size: 20px;
    padding: 30px 0 10px 0;
}

.about-section {
	position: relative;
	align-items: center;
	margin-bottom: 100px;
}

.about-section:last-of-type {
    padding: 30px 0 80px 0;
}

.about-section .txt-decor::after{
    width: 111%;
    background: rgba(245, 223, 214, 1);
    bottom: -50px;
    left: -75px;
}

.about-section .reverse {
	flex-direction: row-reverse;
}

.img-container {
	margin-left: 140px;
	padding: 10px;
    flex: 0 0 30%;
    text-align: center;
    border-left: 1px solid rgb(239 206 192);
    border-right: 1px solid rgb(239 206 192);
}

.img-container img {
    width: 85%;
    height: auto;
    border-radius: 55px;
}

.reverse .img-container {
	margin-left: 100px;
}

.reverse .img-container img {
    border-radius: 30% 70% 73% 27% / 39% 30% 70% 61%;
}

.txt-container {
    flex: 0 0 45%;
    margin-left: 80px;
    padding: 0px 10px 0px 20px;
    border-left: 1px solid rgb(239 206 192);
    border-right: 1px solid rgb(239 206 192);
}

.txt-container p {
    line-height: normal;
}

/*------------------------------------------------
About : Photo Wheel
------------------------------------------------*/
.banner .slider-title {
    font-size: 16px;
    font-weight: 500;
}

.banner {
    width: 100%;
    height: 92vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    top: -25px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.banner .slider {
    position: relative;
    width: 240px;
    height: 240px;
    top: 17%;
    left: calc(50% - 120px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transition: transform 1s ease-in-out;
}

.banner .slider .slider-itm {
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(500px);
}

.banner .slider .slider-itm img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
}

/* Navigation buttons */
.banner .nav {
    position: absolute;
    top: 58%;
    transform: translateY(-50%);
    background: rgb(47 38 38 / 76%);
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 10;
    transition: background 0.3s;
}

.banner .nav:hover {
    background: rgba(255,255,255,0.4);
}

.banner .nav.left { 
    left: 10px;
}

.banner .nav.right {
    right: 10px;
}

.slider-info {
    position: relative;
    bottom: -290px;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 10%;
}

.slider-info img {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.slider-info #info-text {
    width: 35%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.slider-info #info-text h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.slider-info #info-text p {
    font-size: 1.2rem;
    color: #666;
}

.txt-decor-top::before {
    position: absolute;
    content: '';
    display: block;
    height: 1px;
    border-radius: 3px;
    width: 111%;
    background: rgba(245, 223, 214, 1);
    top: 0px;
    left: -75px;
}
/*------------------------------------------------
Skills
------------------------------------------------*/
.skills {
	max-width: none !important;
    background: #fff0ea;
    border-radius: 500px;
  	align-items: center;
  	justify-content: center;
  	margin-top: 130px;
  	padding: 30px 0 20px 0;
}

.skills ul {
	padding: 20px;
}

.skills li {
	font-size: 16px;
	padding-bottom: 10px;
}

.skills h3 {
	font-size: 20px;
	color: #346f53;
	padding-bottom: 10px;
}

/*------------------------------------------------
Footer
------------------------------------------------*/
.footer{
	position: relative;	
	margin-top: 150px;
	flex-direction: column;
}

.contact {
	text-align: center;
	color: #3d1002;
	margin-bottom: 300px;
	z-index: 1;
}

.contact p {
	padding-bottom: 50px;
}

.contact li {
	display: inline;
    padding: 0 70px;
}

.contact a {
	color: #3d1002;
	font-size: 16px;
	font-style: italic;
}

.contact img {
	border-radius: 15px;
}

.thanks {
	text-align: center;
	font-size: 17px;
	padding-bottom: 5px;
}

.copywrite {
	font-size: 15px;
    text-align: center;
    padding-bottom: 12px;
    border-bottom: 16px solid #cbcdd6;
}

.orange {
	position: absolute;
	top: 53%;
	left: 50%;
	z-index: -50;
	transform: translate(-50%, -50%);
}

.shape {
	position: absolute;
	top: 37%;
	left: 50%;
	z-index: -100;
	transform: translate(-50%, -50%);
}

.link:hover {
	color: #7330df;
}
