/*------------------------------------------------
Page styling
------------------------------------------------*/
.banner {
    background-image: url('../images/globe.png');
} 

.bold {
    color: #2b333b;
}

img {
    border-radius: 16px;
}

h3 {
    padding-top: 40px;
    font-size: 20px;
}

/*------------------------------------------------
Aim
------------------------------------------------*/
.aim img {
    padding: 18px;
}

.aim-list li {
    display: flex;
    align-items: flex-start;
    padding: 0 0 15px 40px;
    border-left: thick double #a5c3a6;;
}

.aim-list li img {
    flex: 0 0 15%;
    max-width: 15%;
}

.aim-list li p {
    flex: 1 1 85%;
    padding-top: 43px;
}

.move-down {
    margin-top: 18px;
}

/*------------------------------------------------
Design Decisions
------------------------------------------------*/
.supplies {
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.supplies ul {
    margin-left: 10px;
}

.supplies li {
    text-align: center;
    padding-bottom: 8px;
    color: #414141;
}

.supplies img {
    margin: 0 0 0 60px;
}

.data-types li p:first-of-type {
    text-decoration: underline;
}

.data-types li p:last-of-type {
    margin-left: 80px;
}

.queries li {
    margin-left: 80px;
    list-style-type: circle;
}

/*------------------------------------------------
Prototype
------------------------------------------------*/
.pieces,
.baords {
    align-items: center;
    justify-content: center;
}

.pieces li {
    padding-bottom: 10px;
    margin-left: 50px;
    list-style-type: disc;
    color: #414141;
}

.boards img {
    margin: 25px auto;
    max-width: 45%;
    gap: 15px;
    height: 295px;
}

.bot-mar {
    margin-bottom: 15px;
}

/*------------------------------------------------
References
------------------------------------------------*/
.ref a {
    color: #414141;
}

.ref {
    color: #6060ff;
}

.ref-list li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.ref-list li p:first-of-type {
    flex: 0 0 4%;
    max-width: 4%;
}

.ref-list li p:last-of-type {
    flex: 1 1 96%;
}

/*------------------------------------------------
Appendix
------------------------------------------------*/
.appendix li a{
    color: #142e7b;
}

.appendix li {
    padding: 10px;
}

.appendix {
    margin-bottom: 30px;
}