/*------------------------------------------------
List styling: Role
------------------------------------------------*/
.project-page ul {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.project-page .pbl-sln li:not(:last-child) {
    margin-right: 50px;
}

.project-page .pbl-sln li {
    width: 34%;
}

.project-page .roles li:not(:last-child) {
    margin-right: 50px;
}

.project-page .roles li {
    width: 13%;
}

.project-page .roles li p{
    margin-bottom: 10px;
}

/*------------------------------------------------
Page image styling
------------------------------------------------*/
.banner {
    background-image: url('../images/groceries.png');
}

.research-mth li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.research-mth > :not(li) + li, .research-mth > li:first-child img{
    margin-right: 120px;
}

.research-mth li img {
    margin: 25px 95px 0px 75px;
}

.research-mth li p {
    padding-top: 30px;
}

.project-page ul.jrn-mp {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.project-page ul.jrn-mp li {
    flex: 1;
}

.project-page ul.jrn-mp img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.project-page ul.jrn-mp img:hover {
    transform: scale(1.7);
    z-index: 1;
}

.action {
    font-size: 15px;
    font-style: italic;
}

/*------------------------------------------------
Image Grid
------------------------------------------------*/
.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.image-grid img:last-child:nth-child(odd) {
    grid-column: span 2;
    justify-self: center;
}

.image-grid img {
    width: 80%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.image-grid img:hover {
    transform: scale(1.4);
    z-index: 1;
}

.image-row {
    display: flex;
}

.image-row img {
    width: 20%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.image-row img:hover {
    transform: scale(1.7);
    z-index: 1;
}